@model ShopBanHoaLyly.Models.SanPham
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title text-danger">
                    <i class="fa fa-exclamation-triangle me-2"></i>Xác nhận xóa sản phẩm
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa sản phẩm <b>@Model.TenSanPham</b> không?</p>
                <input type="hidden" id="deleteProductId" value="@Model.MaSanPham" />
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger" id="confirmDeleteProductBtn">Xóa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).off('click', '#confirmDeleteProductBtn').on('click', '#confirmDeleteProductBtn', function () {
        var id = $('#deleteProductId').val();
        $.ajax({
            url: '/Employee/Product/Delete',
            type: 'POST',
            data: { id: id },
            success: function (res) {
                if (res.success) {
                    $('#deleteProductModal').modal('hide');
                    location.reload();
                } else {
                    alert(res.message || 'Xóa sản phẩm thất bại!');
                }
            }
        });
    });
</script> 